[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
extras = "*"
django-qsstats-magic = "*"
django-google-charts = "*"
dateutil = "*"
plotly = "*"
matplotlylib = "*"
googlegantt = "*"
gantt = "*"
python-dateutil = "*"
ganttchart = "*"

[requires]
python_version = "3.6"
